absl-py
asttokens
backcall
beartype
certifi
charset-normalizer
chex
contourpy
cycler
decorator
einops
etils
executing
flax
fonttools
fsspec
idna
importlib-resources
ipdb
ipython
jax
jaxlib
jaxtyping
jedi
kiwisolver
libtpu-nightly
markdown-it-py
-e git+https://github.com/salamanderxing/mate@cf150300464b8e9669449c765a898827ec936413#egg
matplotlib
matplotlib-inline
mdurl
ml-dtypes
msgpack
nest-asyncio
networkx
numpy
opt-einsum
optax
orbax-checkpoint
packaging
pandas
parso
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
pure-eval
pyaml
Pygments
pyparsing
python-dateutil
pytz
PyYAML
rdkit @ file:///home/bluesk/Documents/rdkit-2023.3.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256
requests
rich
scipy
six
stack-data
tensorstore @ file:///tmp/tensorstore-0.1.45-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl#sha256
toolz
tqdm
traitlets
typeguard
typing_extensions
tzdata
urllib3
wcwidth
zipp